<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
<!--                     <h3>Some of us are also working on:</h3> -->
                    <ul class="list-unstyled">
                    {% block footer_links %}
                        <li>
                            <a href="#" class=""></a>
                        </li>
                    {% endblock footer_links %}
                    </ul>
                </div>
                <div class="footer-col col-md-6">
                    <!-- <h3>Some of us are in other places:</h3> -->
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="mailto:" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>